{{- if .Values.postgresql.bundled.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "bamf.fullname" . }}-postgresql
  labels:
    {{- include "bamf.labels" . | nindent 4 }}
    app.kubernetes.io/component: postgresql
type: Opaque
stringData:
  password: {{ .Values.postgresql.bundled.auth.password | quote }}
{{- else if and .Values.postgresql.external.enabled (not .Values.postgresql.external.existingSecret) (not .Values.postgresql.external.externalSecret.enabled) }}
{{- if .Values.postgresql.external.password }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "bamf.fullname" . }}-database-credentials
  labels:
    {{- include "bamf.labels" . | nindent 4 }}
type: Opaque
stringData:
  password: {{ .Values.postgresql.external.password | quote }}
{{- end }}
{{- end }}
{{- if and .Values.postgresql.external.enabled .Values.postgresql.external.readReplica.enabled .Values.postgresql.external.readReplica.password (not .Values.postgresql.external.readReplica.existingSecret) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "bamf.fullname" . }}-database-read-credentials
  labels:
    {{- include "bamf.labels" . | nindent 4 }}
type: Opaque
stringData:
  password: {{ .Values.postgresql.external.readReplica.password | quote }}
{{- end }}
