apiVersion: v1
kind: Service
metadata:
  name: {{ include "bamf.fullname" . }}-api
  labels:
    {{- include "bamf.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
spec:
  type: ClusterIP
  ports:
    - port: 8000
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "bamf.api.selectorLabels" . | nindent 4 }}
